server {
       listen         80;
       server_name    overthebridge.ca www.overthebridge.ca;
       return         301 https://$server_name$request_uri;
}
server {
        listen 443;
        server_name overthebridge.ca www.overthebridge.ca;

	ssl on;
	ssl_protocols TLSv1.1 TLSv1.2;
	ssl_certificate /etc/nginx/certificates/OverTheBridge/ssl.crt;
	ssl_certificate_key /etc/nginx/certificates/OverTheBridge/ssl.key;

        load_module modues/ngx_xapian_search.so;
        
        location /search {
                search /home/ubuntu/OverTheBridge-0.1/root;
        }

        location / {
                root /home/ubuntu/./OverTheBridge-0.1/root;
                try_files $uri $uri/index.html $uri.html =404;
        }


        keepalive_timeout    70;

}
